//@include font-face('PalatinoLinotype', '../fonts/PalatinoLinotype-Italic');
.ic-size8{
  --mainHW:8px;
}.ic-size9{
  --mainHW:9px;
}.ic-size10{
  --mainHW:10px;
}.ic-size12{
  --mainHW:12px;
}.ic-size16{
  --mainHW:16px;
}
